<div class="jumbotron">
	<div class="wrapper">
	  <div class="content">
			<br></br>
      <h2>NEW BOOK</h2>
      <form method="post" action="/books">
        <label for="description">Description:</label>
        <input type="text" name="description" id="description">
        <input type="text" name="status" id="status">
        <br></br>
        <input type="submit" value="Tweet It!">
      </form>
    </div>
  </div>
</div>
