<div class="jumbotron">
	<div class="wrapper">
	  <div class="content">
			<br></br>
      <h2>NEW BOOK</h2>
      <form method="post" action="/books">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
				<label for="author">Author:</label>
        <input type="text" name="author" id="author">





				<br></br>
        <input type="submit" value="Add it">
      </form>
    </div>
  </div>
</div>
