<div class="jumbotron">
	<div class="wrapper">
	  <div class="content">
			<br></br>
      <h2>NEW BOOK</h2>
      <form method="post" action="/books">
        <label for="title"><b>Title:</b></label>
        <input type="text" name="title" id="title"><br/><br/>
				<label for="author"><b>Author:</b></label>
        <input type="text" name="author" id="author"><br/><br/>
				<label for="pages"><b>Pages completed:</b></label>
        <input type="text" name="pages" id="pages"><br/><br/>
				<label for="description"><b>Description:</b></label>
				<input type="text" name="description" id="description"><br/>
        <br></br>
        <input type="submit" value="Add Book"><br/><br/>
      </form>
    </div>
  </div>
</div>
