


<nav>
  <% if !logged_in? %>

    <p><font size="4" color="000000"><strong>Please Sign In or Sign Up below:</strong></font></p><br/><br/>
    <a href="/login"> Sign In </a><br/><br/>
    <a href="/signup">Sign Up</a>
  <%end %>

</nav>
