<!DOCTYPE html>
<html>

   <head>
      <title>>Book Center</title>
   </head>

   <body>
      <table width = "100%" border = "5">

         <tr>
            <td colspan = "2" bgcolor = "76D6FF">
               <h1>Book Center</h1>
            </td>
         </tr>
         <% if logged_in? %>
         <tr valign = "top">
            <td bgcolor = "#aaa" width = "15%">
               <b><p>Main menu</p></b><br />

               <a href="/books"><button type="button">Main Page</button></a><br /><br />

               <a href="/books/new"><button type="button">New Book</button></a><br /><br/>

               <a href="books/discover"><button type="button">Discover</button></a><br /><br/>
               <a href="/logout"><button type="button">LogOut</button></a><br /><br/>



            </td>
            <%end %>
            <td bgcolor = "#F0FFFF" width = "100%" height = "250">
               <%= yield %>
            </td>
         </tr>

         <tr>
            <td colspan = "2" bgcolor = "76D6FF">
               <center>
                  Keeping track of your reads!
               </center>
            </td>
         </tr>

      </table>
   </body>

</html>
